@import '../../variables';

.talent {
    background-image: url('../../../assets/talent-icons-sprite.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border: #4c4c4c solid 4px;
    box-sizing: content-box;
    padding: 0;
    cursor: pointer;

    &:disabled {
        background-position-y: -50px;
    }

    &:focus {
        outline: $blue solid 4px;
    }

    &:active {
        outline: $blue solid 6px;
    }

    &.selected {
        border: solid 4px;
        border-image-slice: 1;
        border-image-source: linear-gradient(to bottom, #9cceff, #354d79, #9cceff);
        -webkit-box-shadow: 0px 0px 10px 0px #ffffff;
        box-shadow: 0px 0px 10px 0px #ffffff;
    }
}

.talent-Stack {
    background-position-x: 0px;
}

.talent-Silverware {
    background-position-x: -50px;
}

.talent-Cake {
    background-position-x: -100px;
}

.talent-Crown {
    background-position-x: -150px;
}

.talent-Boat {
    background-position-x: -200px;
}

.talent-Scuba {
    background-position-x: -250px;
}

.talent-Lightning {
    background-position-x: -300px;
}

.talent-Skull {
    background-position-x: -350px;
}