@import '../mixins';

.announcement {
    margin: 10px 0;

    header {
        @include heading;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;

        h2 {
            font-size: 20px;
            display: inline;
        }

        p {
            font-size: 12px;
            color: #bababa;
            margin: 0;
        }
    }

    a {
        color: $blue;
        font-weight: 700;
        text-decoration: none;
    }

    .content {
        @include content-border;
        background-image: url('../../assets/news-bg.png');
        font-size: 14px;
        color: #cfcfcf;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    button {
        @include button;
        display: block;
        margin-left: auto;
    }
}