@import 'variables';

@mixin heading {
    background: $grey;
    padding: 10px 20px;
}

@mixin content-border {
    border: $grey 1px solid;
}

@mixin button {
    background: $blue;
    color: #ffffff;
    border-radius: 2px;
    border: none;
    font-size: 13px;
    font-family: 'Open Sans Semi-bold', sans-serif;
    padding: 5px 10px;
}